*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("Bg2.jpg");
    height: 90vh;
    width: 100vr;
    background-size: cover;
    background-position:center ;
   
} 

.container{
    border: 4px solid rgb(12, 12, 12);
    padding: 15px;
    width: 35%;
    height: 90vh;
    border-radius: 28px;
    background:white;
    box-shadow: 2px 3px 15px black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 35%;
}
input{
    width: 328px;
    border: none;
    padding: 15px;
    margin: 8px;
    background:black;
    box-shadow:2px 3px 15px rgba(86, 86, 86, 0.2) ;
    font-size: 42px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}
input::placeholder{
    color:white;
}
button{
    border: none;
    width: 62px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    background:black;
    color:white;
    font-size: 22px;
    box-shadow: -5px -5px 17px rgba(230, 230, 230, 0.4);
    cursor: pointer;
}
button:hover{
    color: blue;
    background-color: rgb(155, 194, 200);

    transform: scale(1.2);
    transition: 0.3;
}
.mathematical-operator{
    color: rgb(67, 234, 234);
}
.mathematical-operator:hover{
    background-color:gainsboro;
    transform: scale(1.2);
    transition: 0.3; 
}
#ac{
    background-color: red;
}
.equal{
    color: rgb(2, 61, 41);
    background-color: rgb(155, 194, 200);
}
